extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
   a(href='/')
     img#logo(src="/static/images/logo.svg"  width="150px" height="40px" alt="logo" class="roll-in-left")
     hr
  article.grid-container.portfolio-intro
    div
     img(src='static/images/error404.png' class="error404")
     h1 #{error.message}
     h1 #{error.status} Not Found :'(
     p #{error.stack}    

    div
     a(href='/') ← Back