extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
   a(href='/')
     img#logo(src="/static/images/logo.svg"  width="150px" height="40px" alt="logo" class="roll-in-left")
     hr
  article.grid-container.portfolio-intro
    div
     h1 Project Not Found
     h1 #{error.status}  :'(
  

    div
     a(href='/') ← Back